*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-3d464d: #ed464d;
  --color-c3d4da: #ced4da;
  --color-232f3e: #232f3e;
  --color-F4F5F3: #F4F5F3;
}

.green {
  color: var(--color-47ad24);
  font-size: 14px;
  font-family: Roboto !important;
}
.red {
  color: var(--color-212529);
  font-size: 14px;
  font-family: Roboto !important;
}
.quill {
  background-color: white;
}

.form-control {
  box-shadow: none;
  border-color: var(--color-c3d4da);
}
.title {
  font: 28px;
  font-family: Roboto !important;
  color: var(--color-212529);
}

.sub-title {
  font: 24px;
  font-family: Roboto !important;
  color: var(--color-212529);
}
.desc {
  font: 14px;
  font-family: Roboto !important;
  color: var(--color-828599);
}

.header-top-strip{
  background-color: var(--color-212529);
  border-bottom: 1px solid var(--color-828599);
}
.header-upper{
  background-color: var(--color-212529);
}
.header-upper .input-group-text{
  background-color: var(--color-ffd333);
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}
.button{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover{
  background-color: var(--color-ffd333);
  color: var(--color-212529);
  transition: all 0.3s ease;
}
.compare-image{
  width: 35px;
  height: 35px;
}
.header-bottom{
  background-color: var(--color-232f3e);
}
.header-bottom .dropdown button,
.header-bottom .menu-links a{
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus{
  box-shadow: none;
}
.header-bottom .dropdown .dropdown-menu{
  background-color: var(--color-212529);
  transform: translate(0.3333px, 49.8889px) !important;
  border-radius: 0;
}
.header-bottom .dropdown .dropdown-menu .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-828599);
}
.header-bottom .dropdown .dropdown-menu .dropdown-item:hover{
  background-color: var(--color-232f3e);
}
footer{
  background-color: var(--color-232f3e);
}
footer:not(:first-child){
  border-top: 1px solid var(--color-828599);
}
.input-group input:focus{
  border: 3px solid #DEE2E6;
}
footer .input-group-text{
  color: white;
  background-color: var(--color-212529);
  border: 6px solid #fff !important;
}
.main-banner-content{
  top: 15%;
  left: 5%;
}
.main-banner-content h4{
  color: var(--color-3d464d);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .3;
}
.main-banner-content h5{
  font-size: 42px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: -2px;
  padding: 0;
  text-transform: none;
}
.main-banner-content p{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .4;
  color: var(--color-212529);
}
.small-banner-content h4{
  color: var(--color-3d464d);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .3;
}
.small-banner-content h5{
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: -2px;
  padding: 0;
  text-transform: none;
}
.small-banner-content p{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .4;
  color: var(--color-212529);
  width: 60%;
}
.small-banner-content{
  top: 15%;
  left: 10%;
}
.small-banner-content .button{
  display: none;
}
.small-banner{
  width: 49%;
}
.home-wrapper-2{
  background-color: var(--color-c3d4da);
}
.feature-content p{
  font-size: 14px;
}
